font-face {
    font-family: 'Mulish-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Mulish-Bold'), 
        url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff');
        font-display: swap;
}
font-face {
    font-family: 'Mulish-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Mulish-Regular'), 
        url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff');
        font-display: swap;
}
font-face {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('NunitoSans-Regular'), 
        url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
        font-display: swap;
}