$default: #777;
$accent: #2dbe60;
$link-color: #575757;
$title: #353535;


%muli-700 {
    font-family: 'Mulish-Bold', sans-serif;
    font-weight: 700;
}
%muli-400 {
    font-family: 'Mulish-Regular', sans-serif;
    font-weight: 400;
}
%nuni-400 {
    font-family: 'NunitoSans-Regular', sans-serif;
    font-weight: 400;
}